<!DOCTYPE html>
<html>
<head>
    <!-- Other head content -->
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
              integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/85b7f242dd.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/85b7f242dd.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('assets/footer.css') }}">
    {% endblock %}
</head>
<body>
    <!-- Other page content -->

    <!-- Footer -->
    <footer class="site-footer">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <div class="main-content">
          <div class="left box">
      <h2>À propos de nous</h2>
      <div class="content">
        <p>
          Institué le 30 Décembre 1975, Notre agence de voyage  est
          un établissement public à caractère non administratif doté de la
          personnalité civile et de l’autonomie financière. L'agence de voyage est un
          organisme placé sous la tutelle du Ministre des Technologies de la
          Communication, et opérant dans les domaines du secteur de
          l’informatique et des technologies de la communication et certifié ISO
          9001version 2015.
        </p>
        <div class="social">
          <a href="#"><span class="fab fa-facebook-f"></span></a>
          <a href="https://twitter.com/agence de voyageTUNISIA"><span class="fab fa-twitter"></span></a>
          <a href="https://plus.google.com/u/0/107447672107753309751/posts"><span
              class="fab fa-google-plus-square"></span></a>
          <a href="https://www.linkedin.com/in/agence de voyage/"><span class="fab fa-linkedin"></span></a>
        </div>
      </div>
    </div>
    <div class="center box">
      <h2>Adresse</h2>
      <div class="content">
        <div class="home">
          <span class="fas fa-home"></span>
          <span class="text"> agence de voyage</span>
        </div>
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">17, rue Belhassen Ben Chaabane, 1005 El Omrane, Tunis
            Tunisie.</span>
        </div>
        
        <div class="website">
          <span class="fas fa-globe"></span>
          <span class="text"> http://www.agence de voyage.tn</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">agence de voyage@agence de voyage.tn</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Contactez-nous</h2>
      <div class="content">
       <div class="fax">  
          <span class="fas fa-fax"></span>
          <span class="text">+ 216 71 781 862</span>
        </div><br>
        <div class="phone">
          <span class="fas fa-phone"></span>
          <span class="text"> + 216 71 783 055</span>
        </div>
      </div>
    </div>
  </div>

        

        <div style="text-align: center; padding: 10px;">
            <span class="far fa-copyright"></span>
            <span>Copyright © 2023 agence de voyage tous droits réservés</span>
        </div>
    </footer>
</body>
</html>
 <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }

            .site-footer {
                margin-top: auto;
            }
        </style>
